body {
    margin: 0;
    background: url(BackgroundImg/back.jpeg);
    text-align: center;
}

.home .popularTitle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    padding: 30px;
    
}