body {
    margin: 0;
    background: url('../BackgroundImg/back.jpeg');
    text-align: center;
}

.yourTitle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    padding: 30px;
    text-align: left;
    text-decoration: underline
    
}

.profilepic{
    position: absolute; 
    top: 150px; 
    right: 20px; 
    padding: 20px; 
}

.womanpic {
    width: 250px; 
    height: auto; 
    border-radius: 50%; 
    border: 5px solid darkolivegreen; 
}
.womanpic:hover {
    box-shadow: 10px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
}
.username2{
    position: absolute;
    top: 450px;
    right: 77px;
    padding: 20px;
    background-color: honeydew;    
    border: 1px solid darkolivegreen;
    color: darkolivegreen;
    width: 200px;
    text-align: center;
}

.years{
    position: absolute;
    top: 520px;
    right: 76px;
    padding: 20px;
    background-color: honeydew;
    border: 1px solid darkolivegreen;
    color: darkolivegreen;
    width: 200px;
    text-align: center;
}