* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }
   
  .userContainer {
    display: flex;
    vertical-align: top;
    justify-content: left;
  
  }
  
  .card {
    overflow: hidden;
    border-radius: 15px;
    width: 350px;
    height: 370px;
    margin: 20px;
    background: #553c2c;
  }
  
  .userfood-item {
    list-style: none;
  }
  
  
  .card:hover {
    box-shadow: 10px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
    
    
  
  .userfood-img {
    width: 200px;
    height: 200px;
    margin-right: 1rem;
    margin-top: 2rem;
    border-radius: 25%;
  }
  
  .userfood-info h2{
      font-family:'Courier New', Courier, monospace;
      font-size: 1.5em;
      font-weight: bold;
      color: beige;    
      padding: 10px;
  
  }
  
  .userfood-info h4 {
    font-family:'Courier New', Courier, monospace;
    font-size: 1em;
    margin: .5rem 2rem;
    color: beige;    
    padding: 3px;
  }