body {
    margin: 0;
    background: url(../BackgroundImg/back.jpeg);
    text-align: center;
}

form {
    padding: 50px;
    text-align: center;
}

label {
    padding: 8px;
    font-size: 20px;
}

input {
    padding: 1px;
}

button {
    padding: 4px;
    margin: 16px;
}

.login-card {
    border: 4px solid black;
    background-color: aliceblue;
    display: flex;
    /*flex-direction: column;*/
    align-content: center;
    width: 350px;
    margin: 100px auto;
}
